:root {
    /* --main-color: red;  */
    --primary-background: #fff;
    --primary-second-background: #434455;
    --primary--font-family: "Roboto", sans-serif;
    --primary-text: #4d5ae5;
    --primary-second-text: #2e2f42;
    --primary-third-text: #f4f4fd;
    --primary-four-text: #ffffff;
    --primary-icon: #f4f4fd;
    --primare-icon-fill: #404bbf;
    --cloud: #F4F4FD;
    --subtle-text: #8e8f99;
    --hover-color: #31d0aa;
    --modal-bg: #fcfcfc;
    --color: #e7e9fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: var(--primary-four-text);
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
  }
  
  h1,
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-second-text);
    text-align: center;
    text-transform: capitalize;
  }
  
  h1 {
    color: var(--primary-four-text);
    max-width: 496px;
    margin: 0 auto;
  }
  
  h2 {
    margin-bottom: 72px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-second-text);
    margin-bottom: 8px;
  }

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul,
ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

address {
    font-style: normal;
}



.link {
    text-decoration: none;
        display: inline-block;
    }



body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-second-background);
    background-color: #ffffff;
    
}

.container {
    min-width: 320px;
    max-width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
/* 
    outline: 2px solid red;
    outline-offset: -2px; */


}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  padding: 8px 16px;
}
label {
    display: flex;
    margin-bottom: 8px;
  }
  
  button {
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: currentColor;
  }

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-second-background);
}

.container {
  min-width: 320px;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_four__item {
  padding: 32px 16px;
}

.link {
  display: inline-block;
}



/* HEADER  */



.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    padding: 25px 0;
    color: var(--primary-text);
}

span {
    color: var(--primary-second-text);
}



@media (min-width: 428px){
.container {
    width: 428px;
}
}
@media (min-width: 768px) and (max-width: 1157px){
.container {
    width: 768px;
}
}
@media (min-width: 1158px){
  
.container {
    width: 1158px;
}
}

.header-adress__menu,
.header-addres{
    /* display: none; */
}
.page-nav{
  margin-left: 2rem;
    margin-right: auto;
}
@media (min-width: 768px){
    .page-nav,
    .header__menu,
    .header-addres{
        display: flex;
    flex-direction: row;
    align-items: center;
    }
}
.page-header {
    max-width: 100%;
    min-height: 70px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .heder__conteiner{
flex-direction: row;
  }
  .link-menu{
    color: var(--primary-second-text);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.menu-list:not(:last-child) {
margin-right: 40px;
}
.link-menu:active,
.link-menu:hover,
.link-menu:focus{
    color:#404bbf;
}
.active{
    position: relative;
  color: var(--primare-icon-fill);
}
.active::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primare-icon-fill);
    margin-top: 20px;
    bottom: -1px;
  }
  .header-address{
    font-style: normal;
  }
  .contacts{
    font-size: 14px;
    color: var(--primary-second-background);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts:hover,
  .contacts:focus{
    color:#404bbf;
  }

  .menu-hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    }

    .icon-hamburger{
        stroke: var(--primary-second-text);
    }

    .section__three,
    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        margin: -1px;
      }

    /* MAIN  */
/* HERO */

.hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/BG/dark-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    padding: 112px 0;
  }
  
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/BG/people-office.desk@2x.png);
    }
  }
  
  .button-btn{
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--primary-text);
    color: var(--primary-four-text);
    margin: 48px auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-btn:hover,
  .button-btn:focus {
    background-color: var(--primare-icon-fill);
  }

  /* <!-- Section 2 --> */

  .second-section {
    padding: 96px 0;
    row-gap: 24px;
    column-gap: 72px;
  }
  
  .list__sect__second {
    gap: 72px;
  }
  
  .advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

@media (min-width: 320px) and (max-width: 1157px){
  .icon, .advantage{
    display: none;
  }
}

@media (max-width: 1157px){
.sect-second__item .advantage-item__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}
}
@media (min-width: 768px) and (max-width: 1157px){
.container {
    width: 768px;
}
}
  .sect-second__item .advantage-item__title {
    text-align: center;
  }
  @media (max-width: 1157px){

  .sect-second__item p {
    font-weight: 500;
  }
}
  
  .advantage-item__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-second-background);
    /* margin-left: 16px; */
   
  }

  /* <!-- Section4 Our Team--> */

  .section-four {
    background-color: var(--cloud);
    padding: 96px 0;
  }
  
  .item-four-list {
    width: 264px;
    background-color: var(--primary-four-text);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .conteiner_four__list{
    align-items: center;
    gap: 72px;
  }
  
  .social-list__four {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  
  .social-link__four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-text);
    padding: 11px 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--cloud);
  }
  
  .social-link__four:hover,
  .social-link__four:focus {
    background-color: var(--primare-icon-fill);
  }
  
  
  
  .section_four__item > p {
    margin-bottom: 8px;
  }
.social-icon{
  fill: var(--cloud);
}
  /* <!-- Section 5 Customers -->*/


  .customers-section {
    padding: 96px 0;
  }
  
  .customers-list {
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
  }
  .customers-link {
    align-items: center;
    justify-content: center;
    color: var(--subtle-text);
    /*width: 190px;*/
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    padding: 16px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .customers-link:hover,
  .customers-link:focus {
    color: var(--primare-icon-fill);
    border-color: var(--primare-icon-fill);
  }
  
  .section-social-icons {
    fill: currentColor;
  }
  
  .customers__item {
    flex-basis: calc(100% / 2 - 24px);
  }

  /* <!-- Footer --> */


  .footer {
    background-color: var(--primary-second-text);
    padding: 100px 0;
  }
  
  footer .logo {
    padding: 0;
  }
  .container__footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 72px;
  }
  
  .logo__container .text-footer {
    text-align: left;
    width: 264px;
  }
  
  .text-footer,
  .footer-sub {
    color: var(--primary-four-text);
  }
  
  .footer-sub {
    font-weight: 500;
    margin: 0 auto 16px auto;
  }
  
  .social-list {
    padding: 0;
    gap: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
  
  
  .social-link_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-text);
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .logo-footer {
    color: var(--cloud);
  }
  .logo-footer__link {
    margin-bottom: 16px;
  }
  
  .social-link_footer:hover,
  .social-link_footer:focus {
    background-color: var(--hover-color);
  }


  @media (min-width: 768px){
.subscribe-form.wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
}



  .form-footer,
  .form-label-footer {
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 298px;
  }
  
  .form-email {
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--primary-four-text);
    background-color: transparent;
    border: 1px solid var(--primary-four-text);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-email::placeholder {
    color: var(--primary-four-text);
  }
  
  .form-email:focus-within {
    border-color: var(--primary-text);
    outline: none;
  }
  
  .button-subscribe {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 165px;
    height: 40px;
    padding: 8px 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--primary-text);
    color: var(--primary-four-text);
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
 .button-subscribe:hover,
 .button-subscribe:focus {
    background-color: var(--hover-color);
  }
  
  .icon-button {
    fill: var(--primary-four-text);
  }
  .subscribe-text{
    color: #ffffff;
    margin: 0 0 16px 0;
  }


  /* <!-- MOBILE MENU --> */


  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem 40px 40px 40px;
    z-index: 999;
    background-color: var(--primary-four-text);
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--primary-second-backgroundt);
    background-color: var(--color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    font-size: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .mobile_close_btn{
  display: block;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  margin: 0 0 3rem auto;
  }
  .menu-container .mobile_close_btn:focus {
    background-color: var(--primare-icon-fill);
    border: none;
    fill: var(--cloud);
  }
  .mobile-menu-wrap {
    height: 100%;
    justify-content: space-between;
  }
  
  .mobile-address-wrap {
    justify-content: flex-end;
  }
  
  .mobile-nav-list {
    color: var(--primary-second-text);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    margin-bottom: 40px;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .mobile-nav-list:active {
    color: var(--primare-icon-fill);
  }
  
  .mobile-address-wrap {
    margin-bottom: 48px;
    font-style: normal;
  }
  
  .mobile-phone {
    color: var(--primary-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    margin-bottom: 40px;
    text-transform: capitalize;
    margin-top: 100px;
  }
  
  .mobile-email {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  
  .mobile-icon {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .menu-social-icon {
    background-color: var(--primary-text);
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.icon-social{
  background-color: var(--primary-text);
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* stroke: var(--cloud);
fill: var(--cloud); */
  }

  /* MODAL WINDOW
  
  
  */


  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 100%;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-window {
    position: absolute;
    width: 100%;
    min-height: 584px;
    top: 55%;
    left: 50%;
    padding: 72px 16px 16px 24px;
    background-color: var(--primary-four-text);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-modal-window {
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-second-text);
  }
  
  .modal-button {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    font-size: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--primare-icon-fill);
    border: none;
  }
  
  .modal-button-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button:hover .modal-button-icon,
  .modal-button:focus .modal-button-icon {
    fill: var(--cloud);
  }
  

  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .label-modal-window {
    display: block;
    position: relative;
    width: 360px;
    margin-bottom: 4px;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
  }
  .modal-field-wrap {
    position: relative;
  }
  .input-modal {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icons {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    float: left;
    right: 90%;
    left: 16px;
    fill: var(--primary-second-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-modal:focus,
  .input-modal:focus {
    border-color: var(--primary-text);
  }
  
  .input-modal:focus + .modal-icons {
    stroke: none;
    fill: var(--primary-text);
  }
  
  .modal-field__container.textarea {
    margin-bottom: 16px;
  }
  
  .comment-modal-window::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  
  .comment-modal-window {
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    font-size: 12px;
    padding-left: 16px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button-bottom {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    color: var(--primary-four-text);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-text);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button-bottom:focus,
  .modal-button-bottom:hover {
    background-color: var(--primare-icon-fill);
  }
  
  .link-privacy {
    text-decoration: underline;
    color: var(--primary-text);
  }
  
  .modal-check__box {
    display: inline;
    color: var(--subtle-text);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  
  .modal-field__container {
    margin-bottom: 8px;
  }
 

  .privacy-modal {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .modal-check__box {
    margin-bottom: 24px;
  }
  
  .modal-check__box input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  .modal-check__box .checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 16px;
    background-color: transparent;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    padding: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .svg-checkbox {
    top: 50%;
    left: 50%;
  }
  
  input:checked + .modal-check__box > .checkbox-span {
    background-color: var(--primare-icon-fill);
    fill: var(--cloud);
    border: none;
  }



  /* PORTFOLIO */


  .works {
    padding: 48px 0;
  }
  
  .item-filter__btn {
    background-color: var(--cloud);
    border: 1px var(--color) solid;
    font-family: "Roboto", sans-serif;
    color: var(--primary-text);
    text-align: center;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .filter__list,
  .works-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .works-list {
    gap: 48px;
  }
  
  .filter__list {
    justify-content: flex-start;
    margin-bottom: 48px;
    row-gap: 16px;
  }
  
  .item-filter:not(:last-child) {
    margin-right: 24px;
  }
  
  .item-filter__btn:hover,
  .item-filter__btn:active,
  .item-filter__btn:focus {
    background-color: var(--primare-icon-fill);
    color: var(--primary-four-text);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .item-works__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-works__link:hover,
  .item-works__link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .link__container {
    border: 1px var(--color) solid;
    border-top: none;
  }
  
  .item-works {
    width: 396px;
  }
  
  .item-works__title {
    text-align: left;
  }
  
  .overlay-box {
    overflow: hidden;
    position: relative;
    width: 396px;
    height: 280px;
  }
  
  .item-works__img {
    width: 396px;
    height: auto;
  }
  
  .overlay-text {
    color: var(--cloud);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    background-color: var(--primary-text);
    padding: 40px 32px;
  }
  
  .item-works__link:hover .overlay-text {
    transform: translateY(0%);
  }
  
  .item-works__link:focus .overlay-text {
    transform: translateY(0%);
  }

/* MOBILE */

  @media (min-width: 428px) {
    .container {
      width: 428px;
    }
  
    .modal-window {
      width: 392px;
    }
  
    .mobile-phone {
      font-size: 36px;
    }
  
    .mobile-icon {
      justify-content: flex-start;
      gap: 56px;
    }
  
    .customers-list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      row-gap: 72px;
    }
  
    .form-footer,
    .form-label-footer {
      width: 398px;
    }
  }

  .header-address {
    margin-right: 2rem;
    display: none;
  }
  
 
/* TABLET
 */
  @media (min-width: 768px) {
    ul.header__menu {
      display: flex !important;
    }
    h1 {
      font-size: 56px;
      line-height: 1.07;
    }
  
    .modal-window {
      width: 408px;
      padding: 72px 24px 24px 24px;
    }
  
    header .logo {
      margin-right: 120px;
    }
    .menu-hamburger {
      display: none;
    }
  
    .page-nav,
    .header__menu,
    .header-address {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .sect-second__item .advantage-item__title {
      text-align: left;
    }
  
    .conteiner_four__list {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
      margin: 0 auto;
    }
  
    .customers-link {
      width: 168px;
    }
    .customers-list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 24px;
      row-gap: 72px;
    }
    .customers__item {
      flex-basis: calc(100% / 4 - 48px);
    }
  
    .container__footer {
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      text-align: left;
    }
  
    .footer-sub {
      margin: 0 0 16px 0;
    }
  
    .form-footer,
    .form-label-footer {
      min-width: 264px;
    }
  
    .form-footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  
    .social-list.wrap {
      justify-content: flex-start;
    }
  
    .filter__list {
      justify-content: center;
      margin-bottom: 64px;
    }
  
    .works-list {
      justify-content: flex-start;
      row-gap: 48px;
      column-gap: 24px;
    }
  
    .item-works {
      width: 356px;
      flex-basis: calc(100% / 3 - 24px);
    }
  
    .overlay-box {
      height: 300px;
      width: 100%;
    }
    .item-works__img {
      width: 356px;
    }
  }
  
 
  /* 768-1157 */
  
  
  @media (min-width: 768px) and (max-width: 1157px) {
    .header-adress__menu {
      display: flex;
      flex-direction: column;
      gap: .5rem !important;
    }
    .container {
      width: 768px;
      /* width: 100%; */
    }
    .list__sect__second {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
      width: 100%;
    }
  
    .sect-second__item {
      flex-basis: calc(100% / 2 - 24px);
    }
    .container__footer {
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
      padding-left: 108px;
    }
  
    .works-list {
      justify-content: flex-start;
    }

    .customers-list{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
  }
}
  
  
 /* DESKTOP */
  
  
  @media (min-width: 1158px) {
    .container {
      width: 1158px;
      width: 100%;
    }
  
    header .logo {
      margin-right: 76px;
    }
  
    .header-adress__menu {
      flex-direction: row;
    }
    .menu-address__item:not(:last-child) {
      margin-right: 40px;
    }
  
    .second-section {
      padding: 120px 0;
    }
  
    .list__sect__second {
      flex-direction: row;
      gap: 24px;
    }
  
    .sect-second__item {
      flex-basis: calc((100% - 72px) / 4);
    }
  
    .advantage-item__text{
      font-weight: 400;
    }

    
  /* @media (max-width: 1157px) {
    .sect-second__item .advantage-item__title {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.11;
        } */
      
        .advantage{
          display: none;
        }
      
        .section__three {
          position: absolute;
          white-space: nowrap;
          width: 1px;
          height: 1px;
          overflow: hidden;
          border: 0;
          padding: 0;
          clip: rect(0 0 0 0);
          -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
          margin: -1px;
        }
      }
  
    /* <!-- Sektion- 3 What are we doing -->
    
    
    */
    .section__three {
      padding-bottom: 120px;
    }
  
    .container__three_list {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 24px; 
      
    }
  
    .third__item {
      flex-basis: calc((100% - 48px) / 3);
     
    }
  
    .hero {
      padding: 188px 0;
    }
  
  
    .item-four-list:not(:last-child) {
      flex-basis: calc((100% - 3 * 24px) / 4);
    }
  
    .conteiner_four__list {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 24px;
    }
  
    .section-four {
      background-color: var(--cloud);
      padding: 120px 0;
    }
    .customers-section {
      padding: 120px 0;
    }
    @media (min-width: 1158px){
    .customers-list {
      flex-wrap: nowrap;
      gap: 24px;
    }
    } 
    .customers__item:not(:last-child) {
      flex-basis: calc((100% - 5 * 24px) / 6);
    }
  
    .container__footer {
      justify-content: flex-start;
      align-items: baseline;
      gap: 0px;
    }
  
    .logo__container {
      margin-right: 120px;
    }
  
    .social_container {
      margin-right: 80px;
    }
  }
  
.header-adress__menu {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
}

ul.header__menu {
  display: none;
}
