:root {
    /* --main-color: red;  */
    --primary-background: #fff;
    --primary-second-background: #434455;
    --primary--font-family: "Roboto", sans-serif;
    --primary-text: #4d5ae5;
    --primary-second-text: #2e2f42;
    --primary-third-text: #f4f4fd;
    --primary-four-text: #ffffff;
    --primary-icon: #f4f4fd;
    --primare-icon-fill: #404bbf;
    --cloud: #F4F4FD;
    --subtle-text: #8e8f99;
    --hover-color: #31d0aa;
    --modal-bg: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
        display: inline-block;
    }


.button-btn {
    display: block;
    cursor: pointer;
    font: inherit;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-second-background);
    background-color: #ffffff;
    /* background-color:var(--primary-background); */
}

.container {
    min-width: 320px;
    max-width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    outline: 2px solid red;
    outline-offset: -2px;


}

@media (min-width: 427px) {
    .container {
        width: 428px
    }
}


@media (min-width: 767px) and (max-width: 1157px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1158px) {
    .container {
        width: 1158px
    }
}

.photo-text {
    margin-bottom: 120px;
}




/* HEADER */


/*  Logo*/
.page-header {
    min-height: 70px;
    border-bottom: 1px solid#e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.heder__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}








.header__menu {
    display: none
}





.header-address {
    display: none;
}
/*  Logo*/

/*hamburger */
.menu-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
}


.icon-hamburger {
    stroke: #2E2F42;
}

/*hamburger */


/* HEADER */







/*  MAIN */

/*hero*/
.hero {
    max-width: 1440px;
}

.hero-bg {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/BG/people-office.mob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 112px 0;
    max-width: 1440px;
    background-color: #2e2f42;
}

@media screen and (min-width: 767px) {
    .hero-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/BG/people-office.tab.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-bg {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/BG/people-office.tab@2x.png);
        }
    }
}

@media screen and (min-width: 1157px) {
    .hero-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/BG/people-office.desk.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-bg {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/BG/people-office.desk@2x.png);
        }
    }
}

.hero__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
    color: #ffffff;
    /* width: 496px; */
    margin: 0 0 48px 0;
}

@media (min-width: 427px) {
    .main-title {
        font-size: 36px;
    }
}
@media (min-width: 767px) {
    .main-title {
        font-size: 56px;
    }
}

.hero__title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 20px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 427px) {
    .button-btn {
        padding: 16px 32px;
    }
}

.button-btn:hover,
.button-btn:focus {
    background: #404bbf;
}


/*hero*/


/*  section 2 */

.second-section {
    padding: 96px 0;
}
@media(min-width: 1157px) {
    .second-section {
        padding: 120px 0;
    }
}

.second__container {
    max-width: 1158px;
    /* padding: 120px 0; */
}

.list__sect__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .list__sect__second {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 100%;
    }
}
@media (min-width: 1158px) {
    .list__sect__second {
        flex-direction: row;
        gap: 24px;
    }
}


@media (min-width: 768px) and (max-width: 1157px) {
    .sect-second__item {
        flex-basis: calc(100% / 2 - 24px)
    } 
}
@media (min-width: 1157px) {
    .sect-second__item {
        flex-basis: calc((100% - 72px) / 4)
    } 
}

.advantage {
    width: 264px;
    display: flex;
    justify-content: center;
    height: 112px;
    padding: 24px;
    background: #f4f4fd;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

@media screen and (max-width: 1157px) {
    .advantage {
        display: none;
    }
}

.advantage-item__title {
    text-align: center;
    color: var(--primary-second-background);

    margin-bottom: 8px;
}
@media (min-width: 767px) {
    .advantage-item__title {
        text-align: left;
    }
}

@media (max-width: 1157px) {
    .advantage-item__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
    }
}

.advantage-item__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-second-background);
}

@media (min-width: 767px) {
    
    .advantage-item__text {
        font-weight: 400;
    }
}

/*  section 2 */

/*  section 3 */
@media screen and (max-width: 1157px) {
    .secrion__three {
        display: none;
    }
}
.secrion__three {
    padding: 0 0 120px 0
}
.title-three {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 72px;
}
.container__three_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
}
.third__item {
    flex-basis: calc((100% - 48px) / 3);
}
/*  section 3 */






/*  section 4 */
.section-four {
    background: var(--cloud);

    padding: 96px 0;
}
@media(min-width: 1157px) {
    .section-four {
        padding: 120px 0;
    }
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 72px;

    color: #2e2f42;
   
}

.conteiner_four__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px
}

@media (min-width: 767px) {
    .conteiner_four__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        margin: 0 auto;
    }
}
@media (min-width: 1157px) {
    .conteiner_four__list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.item-four-list {
    width: 264px;
    text-align: center;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    border-radius: 0px 0px 4px 4px;
}
@media (min-width: 767px) {
    .item-four-list {
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 72px 24px; */
        margin: 0 auto;
    }
}
@media (min-width: 1157) {
    .item-four-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px
    }
}

@media (min-width: 1157px) {
    .item-four-list:not(:last-child) {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}
.list__four__img {
    display: block;
}
.section_four__item {
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
}

.name-working {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.proffesion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    margin-bottom: 8px;
    text-align: center;
}

.social-list__four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

    /* padding: 0px; */
    /* max-width: 208px; */
}

.social-link__four {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #4d5ae5;
    border-radius: 50%;

}
.social-icon {
    fill: white;
}

/*  section 5 */
/* customers */



.customers-section{
    padding: 96px 0;
}

.customers-list{
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 428px){
.customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}
}

.customers-link{
    align-items: center;
    justify-content: center;
    color: var(--subtle-text);
    
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    padding: 16px 32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus{
    color: var(--primare-icon-fill);
  border-color: var(--primare-icon-fill);
}
 a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
 }
.customers__item{
    flex-basis: calc(100% / 2 - 24px);
}
.section-social-icons{
fill: currentColor;
}

@media (min-width: 768px) {
    .customers-link{
        width: 168px;
    }
}

@media (min-width: 768px) {
.customers-list{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
}
    
}

@media (min-width: 768px) {
.customers__item{
flex-basis: calc(100% / 4 - 48px);
}
}

@media (min-width: 768px) and (max-width: 1157px) {
    .container {
        width: 768px;
      }
    }

@media (min-width: 1158px) {
        .container {
          width: 1158px;
        }
    }



        /* <!-- Footer --> */


.footer {
            background-color: var(--primary-second-text);
            padding: 100px 0;
        }

.container__footer {
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 72px;
        }
.logo {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1.17;
            color: var(--primary-text);
        }

.logo-footer{
    padding: 0;
    color: var(--primary-icon);


}


.footer-sub{
    color: var(--primary-four-text);
    text-align: left;
    width: 264px;
    font-weight: 500;
    margin: 0 auto 16px auto;
}
.text-footer {
    font-weight: 400;
    color: var(--primary-four-text);
    text-align: left;
    width: 264px;
}
p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-second-background);
}
.social-list{
    padding: 0;
    gap: 16px;
    align-items: center;
    justify-content: center;
}



.social-icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-text);
  padding: 11px 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-icon);
}


.logo-footer__link 
{
    margin-bottom: 16px;
}

.social-link_footer:hover,
.social-link_footer:focus{
    background-color: var(--hover-color);
}

.subscribe-text{
    font-weight: 500;
    margin: 0 auto 16px auto;
    color: var(--primary-icon);
}

.form-footer, .form-label-footer {
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 298px;
}

.form-email{
    align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--primary-background);
  background-color: transparent;
  border: 1px solid var(--primary-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
input, textarea {
    font-family: inherit;
    line-height: inherit;
    padding: 8px 16px;
}

.form-email::placeholder{
    color: var(--primary-background);
}
.form-email:focus{
    border-color: var(--primary-text);
  outline: none;
}
.button-subscribe{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 165px;
    height: 40px;
    padding: 8px 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--primary-text);
    color: var(--primary-four-text);
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus{
background-color: var(--hover-color);
}
.icon-button{
    fill: var(--primary-background)
}
@media (min-width: 428px) {
    .subscribe-footer{
        width: 428px;
    }
}


/* MODAL WINDOW */
.modal-window{
    position: absolute;
    width: 100%;
    min-height: 584px;
    top: 55%;
    left: 50%;
    padding: 72px 16px 16px 24px;
    background-color: var(--modal-bg);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
@media (min-width: 428px) {
.modal-window{
    width: 392px;
}
}

.header-modal-window{
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-second-text);
}


@media (min-width: 428px) {
    .mobile-phone{
        font-size: 36px;
    }
}  
.modal-button{
    position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--hover-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus{
    background-color: var(--primare-icon-fill);
  border: none;
}
.modal-button-icon{
    fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-button-icon ,
.modal-button:focus .modal-button-icon{
  fill: #F4F4FD;  
}

.backdrop{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.user-name{
    display: block;
  position: relative;
  width: 360px;
  margin-bottom: 4px;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.modal-field-wrap{
    position: relative;
}
.input-modal-window {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal-window:focus{
    background-color: var(--primary-text);
}

.input-modal-window:focus + .modal-icons{
    stroke: none;
  fill: var(--primary-text);
}
.comment-modal-window{
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    font-size: 12px;
    padding-left: 16px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-modal-window::placeholder{
    color: rgba(46, 47, 66, 0.4);
}
.comment-modal-window:focus{
    background-color: var(--primary-text);
}
.modal-icons{
    text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
  float: left;
  right: 90%;
  left: 16px;
  fill: var(--primary-second-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textatea-modal{
    margin-bottom: 16px;
}
.modal-button-bottom{
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    color: var(--primary-four-text);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-text);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button-bottom:focus,
.modal-button-bottom:hover{
    background-color: #4d5ae5;
}
.link-privacy{
    text-decoration: underline;
    color: var(--primary-text);
}
.modal-check__box{
    display: inline;
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-window-form{
    margin-bottom: 8px;
}
.privacy-modal{
    width: 100%;
    margin-bottom: 24px;
}
.modal-check__box{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    margin-bottom: 24px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 16px;
    background-color: transparent;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    padding: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-checkbox{
    top: 50%;
    left: 50%;
}
input:checked + .modal-check__box > .checkbox-span{
  background-color: var(--primare-icon-fill);
  fill: var(--cloud);
  border: none;
}
